<% provide(:title, "Sign in") %>
<h1>Admin</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <br />

      <%= f.submit "Sign in", class: "btn btn-custom" %>
    <% end %>

    <!-- <p>Authorized to be an admin for this site?<br />
    <%#= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

