<% provide(:title, "Sign in") %>



<div class="row">
  <div class="span6 offset3">

    <h2>Authorized to sign in?</h2>
    <div class="inst"> An aasanjose.org authorization is required</div>


    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <br />

      <%= f.submit "Sign in", class: "btn" %>
    <% end %>

    <!-- <p>Authorized to be an admin for this site?<br />
    <%#= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

