<h1> Edit checked meetings </h1>

<ul>
<%= form_tag update_multiple_meetings_path, method: :put do %>
	<% @meetings.each do |meeting| %>
	<li>
		<%= meeting.name %>
		<%= hidden_field_tag "meeting_ids[]", meeting.id %>
	</li>

<%= fields_for :meeting do |f| %>
</ul>

	  <div class="control-group">
    <%= f.label :day, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :day, :class => 'text_field', placeholder: "format Sunday, 08:00 PM" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :codes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :codes, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :map, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :map, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area' %>
    </div>
  </div>
<% end %>
	<% end %>
	<div class="actions">
		<%= submit_tag "Delete" %> 
	</div>
<% end %>