<h1>Meetings in Santa Clara County</h1>

<%= link_to "Meetings Home", meetings_path %>

<%= search_form_for @search do |f| %>

  <div class="field">
    <%= f.text_field :name_or_day_or_address_or_city_or_codes_cont %>
    <%= f.label :name_or_address_or_city_or_codes_cont, "Search by Meeting Name, Street Name, Codes, etc -- searches ALL meetings" %>
  </div>


  <div class="field">
    <%= f.text_field :day_cont %>
    <%= f.label :day_cont, "(Optional) Add Day -- Partial OK i.e. Mon for Monday" %>
  </div>

  <div class="field">
    <%= f.text_field :city_cont %>
    <%= f.label :city_cont, "(Optional) Add City -- Partial OK e.g. Gil for Gilroy, " %>
  </div>
 

  <div class="actions"><%= f.submit "Search" %>

<% end %>

<table>
  <tr>
    <th><%= sort_link @search, :day, "Day and Time" %></th>
    <th><%= sort_link @search, :name, "Meeting Name" %></th>
    <th><%= sort_link @search, :address, "Address" %></th>
    <th><%= sort_link @search, :city, "City" %></th>
    <th><%= sort_link @search, :codes, "Codes" %></th>
    <th>Map</th>
    <th><%= sort_link @search, :notes, "Notes" %></th>
    <th>ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.day %></td>
    <td><%= meeting.name %></td>
    <td><%= meeting.address %></td>
    <td><%= meeting.city %></td>
    <td><%= meeting.codes %></td>
    <td><%= meeting.map %></td>
    <td><%= meeting.notes %></td>
    <td><%= link_to meeting.id, meeting_path(meeting) %></td>
    <td><%= link_to 'Show', meeting %></td>
    <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
    <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Do you really want to delete this meeting?' } %></td>
  </tr>
<% end %>
</table>

<br />
<p>
  Download: |
  <%= link_to "CSV", meetings_path(format: "csv") %> |
  <%= link_to "Excel", meetings_path(format: "xls") %> | <br />
  View : | <%= link_to "Plain Text", meetings_path(format: "txt") %> |

</p>