
<%- model_class = Meeting -%>

<div id="user_header">
  <% if current_user %>
    Logged in as: <%= current_user.email %>.
   <% end %>
</div>

  <div class="hotline">
    (408) 374 - 8511
    <div class="helpline">
      HELP LINE AVAILABLE 24/7  
    </div>
  </div>


  <div class="search-instructions">

   <strong>&nbsp;&nbsp;How to find meetings:</strong>
   <ul>
      <li> Click or tap once to add an option to the search; click/tap again to remove it, or use the <div class="btn btn-mini"><%= link_to 'Clear All', 'clear' %></div> button</li>
      <li> Look-up meeting or group name, building, street name or <%= link_to 'chip', '/meetings?utf8=%E2%9C%93&q[name_or_notes_or_codes_cont]=chip&commit=Search' %> meetings using the search box</li>       
    
   </ul> 


   </div>

  <div class="nav"> 
    <%= render 'meetings/refine' %>
  </div>


<!-- This list is sortable by column header --> 

<div id="go-south">
<table class="table table-striped">
  <thead>
    <tr>
      <%#= @search.inspect %>
      <th class="numeric"><%= sort_link @search, :day, "Day & Time", { :controller => 'meetings', action: "index" }  %></th>
      <th class="numeric"><%= sort_link @search, :name, "Meeting Name" %></th>
      <th class="numeric"><%= sort_link @search, :location, "Location"  %></th>
      <th class="numeric"><%= sort_link @search, :city, "City" %></th>
      <th class="numeric"><%= sort_link @search, :codes, "Codes" %></th>
      <th class="numeric"><%= sort_link @search, :map, "Map"  %> </th>
      <th class="numeric"><%= sort_link @search, :notes, "Notes" %></th>
      <% if signed_in? %>
        <th class="numeric"><%= sort_link @search, :created_at, "Added" %></th>
        <th class="numeric"><%= sort_link @search, :updated_at, "Updated" %></th>
        <th class="numeric"><%= sort_link @search, :id, "ID" %></th>
        <th class="numeric">Admin</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td data-title="Day"><%= meeting.day %></td>
        <td data-title="Name"><strong><%= link_to meeting.name, meeting_path(meeting) %></strong></td>
        <td data-title="Address"><%= meeting.address %></td>
        <td data-title="City"><%= meeting.city %></td>
        <td data-title="Codes"><%= meeting.codes %></td>
        <td data-title="Map"><%= link_to image_tag("gmaps.png", alt: "map", height: "37", width: "37"), url_for(meeting.map), target: "_blank" %></td>
        <td data-title="Notes"><%= meeting.notes %></td>
        <% if signed_in? %>
            <td data-title="Added">          
              <div class="admincol"><%=link_to meeting.created_at %></div></td>
            <td data-title="Updated">
              <div class="admincol"><%=link_to meeting.updated_at %></div></td>          
            <td data-title="ID"><%= link_to meeting.id, meeting_path(meeting) %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_meeting_path(meeting), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        meeting_path(meeting),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini' %>                    
            </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>

</table>

</div>

<div class="meeting-count"><%= Meeting.find(:all).length %> total meetings</div>


<p>
  Download all meetings:
  <%= link_to "CSV", meetings_path(format: "csv") %> |
  <%= link_to "Excel", meetings_path(format: "xls") %>
</p>
