<h1>Listing meetings</h1>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :day_or_name_or_address_or_city_or_codes_cont, "Search days, meeting name, codes, etc" %>
    <%= f.text_field :day_or_name_or_address_or_city_or_codes_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %>
<% end %>

<table>
  <tr>
    <th><%= sort_link @search, :day, "Day or Time" %></th>
    <th><%= sort_link @search, :name, "Meeting Name" %></th>
    <th><%= sort_link @search, :address, "Address" %></th>
    <th><%= sort_link @search, :city, "City" %></th>
    <th><%= sort_link @search, :codes, "Codes" %></th>
    <th>Map</th>
    <th><%= sort_link @search, :notes, "Notes" %></th>
    <th>ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.day %></td>
    <td><%= meeting.name %></td>
    <td><%= meeting.address %></td>
    <td><%= meeting.city %></td>
    <td><%= meeting.codes %></td>
    <td><%= meeting.map %></td>
    <td><%= meeting.notes %></td>
    <td><%= link_to meeting.id, meeting_path(meeting) %></td>
    <td><%= link_to 'Show', meeting %></td>
    <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
    <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Do you really want to delete this meeting?' } %></td>
  </tr>
<% end %>
</table>

<br />
<p>
  Download: |
  <%= link_to "CSV", meetings_path(format: "csv") %> |
  <%= link_to "Excel", meetings_path(format: "xls") %> | <br />
  View : | <%= link_to "Plain Text", meetings_path(format: "txt") %> |

</p>