<%- model_class = Meeting -%>
<div class="navbar">
   <ul class="nav nav-tabs">
    <li><%= link_to "All Meetings", meetings_path %></li>
    <li><%= link_to "Sunday", '/meetings?utf8=%E2%9C%93&q[day_cont]=sun' %></li>    
    <li><%= link_to "Monday", '/meetings?utf8=%E2%9C%93&q[day_cont]=mon' %></li>
    <li><%= link_to "Tuesday", '/meetings?utf8=%E2%9C%93&q[day_cont]=tue' %></li>
    <li><%= link_to "Wednesday", '/meetings?utf8=%E2%9C%93&q[day_cont]=wed' %></li>
    <li><%= link_to "Thursday", '/meetings?utf8=%E2%9C%93&q[day_cont]=thu' %></li>
    <li><%= link_to "Friday", '/meetings?utf8=%E2%9C%93&q[day_cont]=fri' %></li>
    <li><%= link_to "Saturday", '/meetings?utf8=%E2%9C%93&q[day_cont]=sat' %></li>
    </ul>
  </div>

<div class="navbar">
  <div class="city-small">
    <ul class="nav">
    <li><%= link_to "Campbell", '/meetings?utf8=%E2%9C%93&q[city_cont]=camp&commit=Search' %></li>    
    <li><%= link_to "Cupertino", '/meetings?utf8=%E2%9C%93&q[city_cont]=cuper&commit=Search' %></li>
    <li><%= link_to "Gilroy", '/meetings?utf8=%E2%9C%93&q[city_cont]=gil&commit=Search' %></li>
    <li><%= link_to "Los Altos", '/meetings?utf8=%E2%9C%93&q[city_cont]=los&commit=Search' %></li>
    <li><%= link_to "Milpitas", '/meetings?utf8=%E2%9C%93&q[city_cont]=milpi&commit=Search' %></li>
    <li><%= link_to "Morgan Hill", '/meetings?utf8=%E2%9C%93&q[city_cont]=morg&commit=Search' %></li>
    <li><%= link_to "Mountain View", '/meetings?utf8=%E2%9C%93&q[city_cont]=mou&commit=Search' %></li>
    <li><%= link_to "Palo Alto", '/meetings?utf8=%E2%9C%93&q[city_cont]=pal&commit=Search' %></li>
    <li><%= link_to "San Jose", '/meetings?utf8=%E2%9C%93&q[city_cont]=jose&commit=Search' %></li>
    <li><%= link_to "San Martin", '/meetings?utf8=%E2%9C%93&q[city_cont]=martin&commit=Search' %></li>
    <li><%= link_to "Santa Clara", '/meetings?utf8=%E2%9C%93&q[city_cont]=clara&commit=Search' %></li>
    <li><%= link_to "Saratoga", '/meetings?utf8=%E2%9C%93&q[city_cont]=sarat&commit=Search' %></li>
    <li><%= link_to "Sunnyvale", '/meetings?utf8=%E2%9C%93&q[city_cont]=sunn&commit=Search' %></li>
    </ul>
  </div>

<div class="navbar">
  <div class="city-small nav-tabs">
    <ul class="nav">
    <li><%= link_to "Open", '/meetings?utf8=%E2%9C%93&q[codes_cont]=O&commit=Search' %></li>    
    <li><%= link_to "Closed", '/meetings?utf8=%E2%9C%93&q[codes_cont]=C&commit=Search' %></li>
    <li><%= link_to "Men", '/meetings?utf8=%E2%9C%93&q[codes_cont]=M&commit=Search' %></li>
    <li><%= link_to "Women", '/meetings?utf8=%E2%9C%93&q[codes_cont]=W&q[codes_neq]=Wh&commit=Search' %></li>
    <li><%= link_to "LGBT", '/meetings?utf8=%E2%9C%93&q[codes_cont]=G&commit=Search' %></li>
    <li><%= link_to "Wheelchair Access", '/meetings?utf8=%E2%9C%93&q[codes_cont]=Wh&commit=Search' %></li>
    
    </ul>
  </div>
</div>
</div>

<p><%= search_form_for @q do |f| %>

    <%= f.text_field :day_cont, placeholder: "Add Day" %> &nbsp; &nbsp; &nbsp;  <%#= @q.day_cont %>
    <%= f.text_field :city_cont, placeholder: "Add City" %> &nbsp; &nbsp; &nbsp;
    <%= f.text_field :name_or_day_or_address_or_city_or_notes_or_codes_cont, placeholder: "Add mtg name, chip, street, etc.", width: '222'  %> &nbsp; &nbsp; &nbsp; &nbsp;
    <%= f.text_field :codes_cont, placeholder: "Add Code"  %>

    <%= f.submit "Search" %>
<% end %>


</p>

<div id="go-south">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="numeric"><%= sort_link @search, :day, "Day and Time" %></th>
      <th class="numeric"><%= sort_link @search, :name, "Meeting Name" %></th>
      <th class="numeric"><%= sort_link @search, :location, "Location"  %></th>
      <th class="numeric"><%= sort_link @search, :city, "City" %></th>
      <th class="numeric"><%= sort_link @search, :codes, "Codes" %></th>
      <th class="numeric"><%= sort_link @search, :map, "Map"  %> </th>
      <th class="numeric"><%= sort_link @search, :notes, "Notes" %></th>
      <th class="numeric"><%= sort_link @search, :created_at, "Added" %></th>
      <th class="numeric"><%= model_class.human_attribute_name(:id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td data-title="Day"><%= meeting.day %></td>
        <td data-title="Name"><%= link_to meeting.name, meeting_path(meeting) %></td>
        <td data-title="Address"><%= meeting.address %></td>
        <td data-title="City"><%= meeting.city %></td>
        <td data-title="Codes"><%= meeting.codes %></td>
        <td data-title="Map"><%= link_to meeting.map, url_for(meeting.map), target: "_blank" %></td>
        <td data-title="Notes"><%= meeting.notes %></td>
        <td data-title="Added"><%=l meeting.created_at %></td>
        <td data-title="ID"><%= link_to meeting.id, meeting_path(meeting) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_meeting_path(meeting), :class => 'btn btn-custom' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      meeting_path(meeting),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-custom' %>                    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>