<% provide(:title, 'Colophon') %>
  <div id="landpage-container">
    <%= link_to image_tag("ico_logo.png", alt: "logo", title: "logo") %>
      <div class="landpage-content">
      <h2>24-HOUR HELP LINE: 24/7  </h2>
      <h3>(408) 374 - 8511 </h3>
      
   </div>
 </div>

   <div id="twocols">
    <div class="span3"></div>
    <div class="span4">
      <h3>Colophon</h3>
       <div class="centraloffice">
         <div class="meetings">
          The <%= link_to 'meetings', meetings_path %> section of the site utilizes a <%= link_to 'Postgres DB', 'http://www.postgresql.org/' %> served by <%= link_to 'Apache', 'http://www.apache.org' %> and <%= link_to 'Phusion Passenger', 'http://www.modrails.com/documentation.html' %> with <%= link_to 'Ruby on Rails', "http://rubyonrails.org" %>.  Mobile-friendly responsive design is custom <%= link_to 'Sassy CSS', 'http://sass-lang.com/' %>.  
          It is <strong>100 percent free code</strong>, maintained by <%= link_to 'hackeress creative studio', 'http://www.hackeress.com' %>.  
         <p></p>
           The <%= link_to 'informational', 'http://info.aasjonline.com/central-office/' %> part of the site is served by <%= link_to 'Wordpress', 'http://wordpress.org/' %> and is a custom design created by Intergroup Central Office of Santa Clara County. 
       </div>
      </div></div>

    <div class="span4">
      <h3>Open-Source Code &amp; API </h3>
      <div class="centraloffice">
        <div class="meetings">
        Hey developers!  Our meeting search code is open-source and available on <%= link_to 'github', 'https://github.com/indie/intergroup' %>. <div class="img-left"><%= link_to image_tag("github_dark.png", alt: "indie's github repo", title: "github"), "https://github.com/indie/aasj" %></div>  This web-friendly tool can be added to any AA or NA website to help people find meetings easier with search, sort and export.  Clone the repo and manually enter individual meetings via a web-friendly admin interface, or use CSV upload .  Check out the live <%= link_to 'demo', 'http://demo.aasjonline.com' %> showcasing AA meetings in San Mateo County.
        <p></p>
        Contributions and bug fixes are welcomed.  Issue pull requests on the <%= link_to 'global', 'https://github.com/indie/intergroup' %> or local <%= link_to 'aasanjose.org', 'https://github.com/indie/aasj' %> version.  Check out and augment the documentation / <%= link_to 'API', 'https://github.com/indie/intergroup/tree/master/doc/app' %> which, of course, is an always-evolving work-in-process.  </div>
      </div>
    </div>
</div>