<% provide(:title, 'Colophon') %>
  <div id="landpage-container">
    <%= link_to image_tag("ico_logo.png", alt: "logo", title: "logo") %>
      <div class="landpage-content">
      <h2>24-HOUR HELP LINE: 24/7  </h2>
      <h3>(408) 374 - 8511 </h3>
      
   </div>
 </div>

   <div id="twocols">
    <div class="span3"></div>
    <div class="span4">
      <h3>Colophon</h3>
       <div class="centraloffice">        
         <%= link_to 'Meetings', meetings_path %> are stored in a Postgres DB served by <%= link_to 'Apache', 'http://www.apache.org' %> with <%= link_to 'Phusion Passenger', 'http://www.modrails.com/documentation.html' %>; it has been authored in <%= link_to 'Ruby on Rails', "http://rubyonrails.org" %>, and is styled with SCSS.
         <p></p>
      </div></div>

    <div class="span4">
      <h3>Open-Source Code &amp; API </h3>
      <div class="centraloffice">
        The code for our meeting search is open-source and available on <%= link_to 'github', "https://github.com/indie/aasj" %>.  Clone the repo and upload a CSV file of all meetings in your area to easily create a searchable database of meetings that can be added to any AA or NA website.  
        <p></p>
        Developers, repo contributions are welcomed!  Please check out the <%= link_to 'API', 'https://github.com/indie/aasj/tree/master/doc/app' %> which is an evolving work-in-process.
      </div>
    </div>
</div>
</div>