<% provide(:title, 'Welcome to Portland Area Intergroup') %>
  <div id="landpage-container">
    <%= link_to image_tag("logo.png", alt: "logo", title: "logo") %>
      <div class="landpage-content">
      <h2>24-HOUR HELP LINE: 24/7  </h2>
      <h3><a class="tel" href="tel:1 503 223 8569">(503) 223 - 8569 </a></h3>
      
   </div>
 </div>

   <div id="twocols">
    <div class="span4">
      <h3>Welcome</h3>
      <div class="welcome">
 
        Alcoholics Anonymous is a fellowship of men and women who share their experience, strength and hope with each other that they may solve <div class="img-left"><%= link_to image_tag("service-logo.png", alt: "logo", title: "latest", width: "100px"), 'http://info.aasjonline.com/latest-greatest' %>
       </div> their common problem and help others to recover from alcoholism. The only requirement for membership is a desire to stop drinking.       
        
        There are no dues or fees for AA membership; we are self-supporting through our own contributions. AA is not allied with any sect, denomination, politics, organization or institution; does not wish to engage in any controversy; neither endorses nor opposes any causes. Our primary purpose is to stay sober and help other alcoholics to achieve sobriety.
      </div>
    </div>
    
    
    <div class="span4">
    <h3>Intergroup Office</h3>
    <div class="centraloffice"> 
      "… we want the hand of AA always to be there."  <%= link_to 'Portland Area Intergroup', 'http://home.pdxaa.org' %> -- also known as <acronym>PAI</acronym> -- is a committee of volunteers made up of representatives from Alcoholics Anonymous (AA) groups around the Portland metro area. PAI encourages mutual support and cooperation between AA groups and provides services that would be too much for any individual group to handle by itself.
      <p></p>
       Follow the link for the most <strong><%= link_to 'current news and events', 'http://pdxaa.org/events' %></strong> happening in the Portland AA Fellowship:  find out about conferences, local fellowshipping events, download flyers and much more! <p></p> 


      Contact us via <%= link_to 'email', 'mailto:1212@pdxaa.org' %>, <a class="tel" href='tel:503 223 8569'>telephone</a>, or just <%= link_to 'stop in', 'http://pdxaa.org/' %> if you're in the neighborhood; we are here to help!  

      </div>
    </div>

    <div class="span3">
      <h3>Meetings</h3>
      <div class="meetings">
        PAI has nearly 1000 meetings every week.  Search by city, day, time, meeting type, and more!
         
         <p></p>
            <%= link_to "Search Meetings", 'http://pdxaa.findmeetings.org/', class: "button" %>                  
          <p></p>
          <p></p>

      </div>
    </div>

</div>


