<% provide(:title, 'Welcome to AA Santa Clara County') %>
  <div id="landpage-container">
    <%= link_to image_tag("ico_logo.png", alt: "logo", title: "logo") %>
      <div class="landpage-content">
      <h2>24-HOUR HELP LINE: 24/7  </h2>
      <h3><a class="tel" href="tel:1 408 374 8511">(408) 374 - 8511 </a></h3>
      
   </div>
 </div>

   <div id="twocols">
    <div class="span4">
      <h3>Welcome</h3>
      <div class="welcome">
 
        Alcoholics Anonymous is a fellowship of men and women who share their experience, strength and hope with each other that they may solve <div class="img-left"><%= link_to image_tag("symbol.png", alt: "logo", title: "latest"), 'http://info.aasjonline.com/latest-greatest' %>
       </div> their common problem and help others to recover from alcoholism. The only requirement for membership is a desire to stop drinking.       
        
        There are no dues or fees for AA membership; we are self-supporting through our own contributions. AA is not allied with any sect, denomination, politics, organization or institution; does not wish to engage in any controversy; neither endorses nor opposes any causes. Our primary purpose is to stay sober and help other alcoholics to achieve sobriety.
      </div>
    </div>
    
    
    <div class="span4">
    <h3>Central Office</h3>
    <div class="centraloffice"> 
      Intergroup Central Office of Santa Clara County serves the Fellowship of Alcoholics Anonymous from Palo Alto to Gilroy: Mountain View, Sunnyvale, Los Gatos, Cupertino, Campbell, San Jose, Morgan Hill and surrounding areas.  <%= link_to 'Learn more', 'http://info.aasjonline.com/central-office' %> about our local service office.<p></p>

       <div class="img-left"><%= link_to image_tag("latest_greatest.png", alt: "logo", title: "latest", width: "68px"), 'http://info.aasjonline.com/latest-greatest' %>
       </div>
       Follow the link for the most <strong><%= link_to 'CURRENT EVENTS & NEWS', 'http://info.aasjonline.com/latest-greatest' %></strong> happening in the Santa Clara County Fellowship:  find out about conferences, local fellowshipping events, download flyers and much more! <p></p> 


      Contact Central Office via <%= link_to 'email', 'mailto:info@aasanjose.org' %>, <a class="tel" href='tel:408 374 8511'>telephone</a>, or just <%= link_to 'stop in', 'http://info.aasjonline.com/central-office' %> if you're in the neighborhood; we are here to help!  

      </div>
    </div>

    <div class="span3">
      <h3>Meetings</h3>
      <div class="meetings">
        Santa Clara County has nearly 600 meetings every week.  Search by city, day, time, meeting type, and more!
         
         <p></p>
            <%= link_to "Search Meetings", 'http://meetings.aasanjose.org/', class: "button" %>                  
          <p></p>
          <p></p>
          <h2>New -- Check out our app!</h2>
          <p></p>
          <%= link_to "Get the App", 'http://app.aasanjose.org/', class: "button" %>


      </div>
    </div>

</div>


