<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="nav-collapse">
          <ul class="nav">
            <%= link_to image_tag("square-headerbar.png", alt: "ico", height: "32", width: "32") %>
            
            <!-- This is the signed in admin user menu view -->

            <% if signed_in? %>
            <li><%= link_to "Edit Meetings", meetings_path %></li>
            <li><%= link_to "Add New Meeting", new_path %></li>
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "Events", "http://home.pdxaa.org/events/" %></li>
            <li><%= link_to "Service",'http://home.pdxaa.org/service/' %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Central Office <b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                <li><%= link_to "Map & Hours", 'http://home.pdxaa.org/contact/' %></li>  
                <li><%= link_to "Meeting Update Form", '#' %></li>
                <li><%= link_to "Literature", '#' %></li>  
                <li><%= link_to "Treasurer Info", '#' %></li> 
                </ul>
      
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Newsletter <b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                <li><%= link_to "Current Year", 'http://home.pdxaa.org/newsletter' %>
                <li><%= link_to "Archives", 'http://home.pdxaa.org/newsletter' %></li>
              </ul>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
                <li><%= link_to "Sign In", signin_path %></li>

              </ul>
            </li>


            <% else %>

            <!-- This is the default visitor menu view -->

            <li><%= link_to "Home", 'http://home.pdxaa.org' %></li>
            <li><%= link_to "Meetings", home_path %></li>

            <li id="fat-menu" class="dropdown">    
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Intergroup Office <b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Map & Hours", 'home.pdxaa.org' %></li>  
                  <li><%= link_to "Meeting Update Form", '#' %></li>
                  <li><%= link_to "Literature", 'home.pdxaa.org/literature' %></li>  
                  <li><%= link_to "Service", 'http://home.pdxaa.org/service' %></li>
                  <li><%= link_to "Treasurer Info", 'http://home.pdxaa.org/treasurer' %></li> 
                  <ul class="divider"></ul>
                  <li><%= link_to "Central Office Signin", signin_path %></li>
                </ul>
            </li>
            
           <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Newsletter<b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                <li><%= link_to "Current Year", 'http://home.pdxaa.org/newsletter/' %>
                <li><%= link_to "Archives", 'http://home.pdxaa.org/newsletter/' %></li>
              </ul>
            <li><%= link_to "Events", 'http://home.pdxaa.org/events' %></li>  
            <li><%= link_to "Service", 'http://home.pdxaa.org/service' %></li>

          
            <li id="fat-menu" class="dropdown">              
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Local <b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                  <li id="fat-menu" class="dropdown">
                  <li><%= link_to "Vancouver AA", 'http://www.vanintgrp.com/' %></li>
                  <li><%= link_to "Salem AA", 'http://www.aa-salem.com/' %></li>
                  <li><%= link_to "Eugene AA", 'http://www.eviaa.org/' %></li>
                  <li><%= link_to "Central Oregon AA", 'http://coigaa.org/' %></li>
                 </li>
              </ul>
            <li>

            
           <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About AA <b class="caret"></b>
            </a>
              <ul class="dropdown-menu">  
                <li><%= link_to "More About AA", 'http://www.aa.org/pages/en_US/what-is-aa', target: 'blank' %></li>
                <li><%= link_to "FAQ for the Newcomer", 'http://pdxaa.org/aa-resources/' %></li>
                <li><%= link_to "Anonymity Letter", '#' %></li>
                <li><%= link_to "Alcoholic in Your Life?", '#' %></li>
                <li><%= link_to "Court Cards & Attendance Slips", '#' %>
                <ul class="divider"></ul>
                <div class="offsite">&nbsp;&nbsp;&nbsp;&nbsp;offsite links</div>
                <li><%= link_to "AA World Services", 'http://www.aa.org', target: 'blank' %></li>  
                <li><%= link_to "Grapevine Meeting in a Magazine", 'http://www.aagrapevine.org' %></li>                
              </ul>
          <% end %>

        </ul>
        </div>
      </div>
    </div>
  </div>
