<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="http://meetings.aasjonline.com">meetings.aasanjose.org</a>
        <div class="nav-collapse">
          <ul class="nav">
             <li><%= link_to "Home", 'http://www.aasannjose.org' %></li>
            <li><%= link_to "Meetings", root_path %></li>
            <li><%= link_to "The COIN", '#' %></li>
            <li><%= link_to "Events", '#' %></li>
            <li><%= link_to "Service", '#' %></li>
            <li><%= link_to "AA World Services", 'http://www.aa.org', target: 'blank' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>